<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<style>
  h1, h2, h3, h4, h5, h6, p {
    color: white;
}

img {
    max-width: 100%;
}

.btn {
    background: #C6A300;
    color: white;
    padding: 7px 26px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 465px;
}

</style>

<section id="course1_menu">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#">高地威士忌探索之旅</a>
        </div>
        <div class="col-md-4">
          <a href="#">源自於海洋的烈酒之王</a>
        </div>
        <div class="col-md-4">
          <a href="#">雅痞威士忌深度巡禮</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="course1_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4 text-left">
            <img src="/img/1582015852-BOI.jpg">
          </div>
          <div class="col-md-8 text-left">
            <p class="lead">高地威士忌探索之旅</p>
            <p class="c1-intro">課程介紹:</p>
            <p>幅員廣闊、地形多樣的高地區，擁有眾多各具特色的威士忌：結合高地區及島嶼區獨特風味的Oban、使用流經金礦水源製作的Clynelish、來自蘇格蘭最高海拔酒廠的Dalwhinnie、經英國皇室授勳的Royal
              Lochnagar，由帝亞吉歐威士忌會所高地品酩課程，帶您一次品飲、深入探索高地威士忌。</p>
            <p class="c1-fee">報名費用：$500（可折抵現場單瓶消費）</p>
            <a class="btn" href="#">立即報名</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="course1_show">
  <div class="container">
    <div class="row c1-r1">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="c1-f1">
              <i class="fas fa-arrow-circle-down"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <h4>品酩酒款</h4>
          </div>
          <div class="col-md-9 text-left">
            <div class="c1-showtext-1">
              <p>Talisker 泰斯卡 10年</p>
              <p>Talisker 泰斯卡 Storm</p>
              <p>Talisker 泰斯卡 Port Ruighe</p>
            </div>
            <div class="c1-showtext-2">
              <p>Caol Ila 卡爾里拉 12年</p>
              <p>Caol Ila 卡爾里拉 Moch</p>
              <p>Lagavulin 樂加維林16年</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row c1-r2">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-3 text-center">
            <h4>餐酒搭配</h4>
          </div>
          <div class="col-md-4">
            <img src="/img/taliske.jpg">
          </div>
          <div class="col-md-5 text-left">
            <p class="c1-showtext-3">Talisker 泰斯卡 10年</p>
            <p class="c1-showtext-4">酒食搭配：<br>
              海潮之境- 高級生蠔</p>
            <p class="c1-showtext-4">
              當強烈而煙燻的 Talisker，<br>
              遇上珍貴海鮮食材交織出的島嶼礦味，<br>
              為酒食搭配，開啟了美好的經典對談。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row c1-r3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <img class="c1-show-img1" src="/img/1-taliske.jpg">
            <img class="c1-show-img2" src="/img/2-taliske.jpg">
            <img class="c1-show-img3" src="/img/3-taliske.jpg">
            <img class="c1-show-img4" src="/img/4-taliske.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- hide bottom-->
<section id="temp">
</section>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>