<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }

  img {
    max-width: 100%;
  }

  .btn {
    background: #C6A300;
    color: white;
    padding: 7px 26px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
  }
</style>

<section id="course1_menu">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="/course1">高地威士忌探索之旅</a>
        </div>
        <div class="col-md-4">
          <a href="/course2">源自於海洋的烈酒之王</a>
        </div>
        <div class="col-md-4">
          <a href="/course3">雅痞威士忌深度巡禮</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="course1_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4 text-left">
            <img src="/img/c1-01.jpg">
          </div>
          <div class="col-md-8 text-left">
            <p class="lead">高地威士忌探索之旅</p>
            <p class="c1-intro">課程介紹:</p>
            <p>幅員廣闊、地形多樣的高地區，擁有眾多各具特色的威士忌：結合高地區及島嶼區獨特風味的Oban、使用流經金礦水源製作的Clynelish、來自蘇格蘭最高海拔酒廠的Dalwhinnie、經英國皇室授勳的Royal
              Lochnagar，由帝亞吉歐威士忌會所高地品酩課程，帶您一次品飲、深入探索高地威士忌。</p>
            <p class="c1-fee">報名費用：$500（可折抵現場單瓶消費）</p>
            <a class="btn" href="/register">立即報名</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="course1_show">
  <div class="container">
    <div class="row c1-r1">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="c1-f1">
              <i class="fas fa-arrow-circle-down"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <h4>品酩酒款</h4>
          </div>
          <div class="col-md-9 text-left">
            <div class="c1-showtext-1">
              <p>Clynelish 克里尼利基 14年</p>
              <p>Dalwhinnie 達爾維尼 15年</p>
            </div>
            <div class="c1-showtext-2">
              <p>Royal Lochnagar 皇家藍勳 12年</p>
              <p>Oban 歐本 14年</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row c1-r2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 text-center">
            <h4>餐酒搭配</h4>
          </div>

          <!-- 輪播 -->
          <div class="col-md-9">
            <div class="slides">
              <div class="slide1">
                <img src="img/c1-03.jpg" class="c1-show-img">
                <p class="c1-showtext-3">Royal Lochnagar 皇家藍勳 12年</p>
                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                  新廣式脆皮燒肉</p>
                <p class="c1-showtext-4">
                  採用廣式燒臘的手法：醃、川、烤、爆皮製作而成，
                  口感脆香、油花分佈均勻的紮實鮮嫩肉質，塔配濃郁
                  爽口的芥末慕斯醬，獨創出新式燒肉風味，與Royal
                  Lochnagar的奶油果香風味完美相襯。</p>
              </div>
              <div class="slide2">
                <img src="img/c1-04.jpg" class="c1-show-img">
                <p class="c1-showtext-3">Clynelish 克里尼利基 14年</p>
                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                  香料鮮蝦佐康提起士醬</p>
                <p class="c1-showtext-4">
                  使用自製香料粉調味的宜蘭白蝦，快火煎烤後佐上
                  法國康堤起士醬，以大量蝦頭熬製的蝦醬淋飾在周圍，
                  由蝦子的脆甜、起士的濃郁、蝦醬的鮮美結合而成的
                  香濃甜鮮滋味，與Clynelish的花香、糖蜜、海洋風味
                  相互輝印，配上墨魚汁製作的珊瑚岩狀脆餅，添增
                  酥脆囗感。</p>
              </div>
              <div class="slide3">
                <img src="img/c1-05.jpg" class="c1-show-img">
                <p class="c1-showtext-3">Dalwhinnie 達爾維尼 15年</p>
                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                  焦糖鴨肝布丁</p>
                <p class="c1-showtext-4">
                  選用法國路奇頂級鴨肝，仔細去除所有細小的血管後，
                  與雞蛋、牛奶以黃金比例蒸製而成，造就布丁的細滑
                  綿密口感，將鴨肝的滑嫩鮮美濃郁展現，最後淋上焦糖
                  糖漿，一囗鮮嫩的鴨肝布丁搭配Dalwhinnie，細緻的
                  煙燻麥芽香氣與淡雅花香從嘴裡綻放出來。
                </p>
              </div>
            </div>

            <!-- 下排點擊 -->
            <div class="dot">
              <img class="c1-show-img1" src="/img/c1-03.jpg">
              <img class="c1-show-img2" src="/img/c1-04.jpg">
              <img class="c1-show-img3" src="/img/c1-05.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(".c1-show-img1").click(function () {
    $(".slide2").css("visibility", "hidden");
    $(".slide3").css("visibility", "hidden");
    $(".slide1").css("visibility", "visible");
  });

  $(".c1-show-img2").click(function () {
    $(".slide1").css("visibility", "hidden");
    $(".slide3").css("visibility", "hidden");
    $(".slide2").css("visibility", "visible");
  });

  $(".c1-show-img3").click(function () {
    $(".slide1").css("visibility", "hidden");
    $(".slide2").css("visibility", "hidden");
    $(".slide3").css("visibility", "visible");
  });
</script>

<!-- hide bottom-->
<section id="temp">
</section>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>