<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<article>
  <div class="wrap" id="wrap">
    <section class="main">
      <div class="container">
        <ul class="course-menu">
          <li>
            <a href="#####">高地威士忌探索之旅</a>
          </li>
          <li>
            <a href="#####">源自於海洋的烈酒之王</a>
          </li>
          <li>
            <a href="#####">雅痞威士忌深度巡禮</a>
          </li>
        </ul>
        <div class="content row">
          <div class="cr-course1-img">
            <span>
              <img src="/img/logo.jpg" alt="err">
            </span>
          </div>
          <div class="cr-text">
            <h3>高地威士忌探索之旅</h3>
            <p>
              <b>課程介紹: </b>
              幅員廣闊、地形多樣的高地區，擁有眾多各具特色的威士忌：結合高地區及島嶼區獨特風味的Oban、使用流經金礦水源製作的Clynelish、來自蘇格蘭最高海拔酒廠的Dalwhinnie、經英國皇室授勳的Royal
              Lochnagar，由帝亞吉歐威士忌會所高地品酩課程，帶您一次品飲、深入探索高地威士忌。
              <br>
              報名費用: $500 (可折抵現場單瓶消費)
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
</article>




<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>