<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: white;
    }

    img {
        max-width: 100%;
    }

    .btn {
        background: #C6A300;
        color: white;
        padding: 7px 26px;
        border-radius: 20px;
        font-size: 20px;
        margin-top: 10px;
    }
</style>

<section id="course1_menu">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/course1">高地威士忌探索之旅</a>
                </div>
                <div class="col-md-4">
                    <a href="/course2">源自於海洋的烈酒之王</a>
                </div>
                <div class="col-md-4">
                    <a href="/course3">雅痞威士忌深度巡禮</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course1_info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <img src="/img/c3-01.jpg">
                    </div>
                    <div class="col-md-8 text-left">
                        <p class="lead">雅痞威士忌深度巡禮</p>
                        <p class="c1-intro">課程介紹:</p>
                        <p>帝亞吉歐全新推出「Knockando納坎度單一麥芽威士忌」垂直品飲課程，完美打造風味豐饒卻又順口好飲的威士忌風格，一次滿足威士忌迷的所有渴望，開創一股威士忌清流風潮！</p>
                        <p class="c1-fee">報名費用：$300（可折抵現場單瓶消費）</p>
                        <a class="btn" href="/register">立即報名</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course1_show">
    <div class="container">
        <div class="row c1-r1">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="c1-f1">
                            <i class="fas fa-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <h4>品酩酒款</h4>
                    </div>
                    <div class="col-md-9 text-left">
                        <div class="c1-showtext-1">
                            <p>Knockando 納坎度12年</p>
                            <p>Knockando 納坎度15年</p>
                        </div>
                        <div class="c1-showtext-2">
                            <p>Knockando 納坎度18年</p>
                            <p>Knockando 納坎度21年</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row c1-r2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <h4>餐酒搭配</h4>
                    </div>

                    <!-- 輪播 -->
                    <div class="col-md-9">
                        <div class="slides">
                            <div class="slide1">
                                <img src="img/c3-03.jpg" class="c1-show-img">
                                <p class="c1-showtext-3">Knockando 納坎度12年</p>
                                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                                    煙燻海岸-紙包冷燻蒔蘿比目魚</p>
                                <p class="c1-showtext-4">
                                    在神秘海鮮食材的料理搭配下，
                                    Knockando 圓潤細緻的酒體，
                                    將完美展現層次豐富的煙燻風情。</p>
                            </div>
                            <div class="slide2">
                                <img src="img/c3-04.jpg" class="c1-show-img">
                                <p class="c1-showtext-3">Knockando 納坎度21年</p>
                                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                                    王的美食樂章<br>
                                    熟成36個月prosciutto火腿 X 起司3重奏</p>
                                <p class="c1-showtext-4">
                                    Knockando 強勁的泥煤味，
                                    搭配煙燻口感鮮明的 Prosciutto 與風味濃郁的鹹味乳酪，
                                    精彩演繹出「艾雷之王」的美食樂章。</p>
                            </div>
                            <div class="slide3">
                                <img src="img/c3-05.jpg" class="c1-show-img">
                                <p class="c1-showtext-3">Knockando 納坎度21年</p>
                                <p class="c1-showtext-4" style="font-weight: bolder;">酒食搭配：<br>
                                    王的美食樂章<br>
                                    熟成36個月prosciutto火腿 X 起司3重奏</p>
                                <p class="c1-showtext-4">
                                    Knockando 強勁的泥煤味，
                                    搭配煙燻口感鮮明的 Prosciutto 與風味濃郁的鹹味乳酪，
                                    精彩演繹出「艾雷之王」的美食樂章。
                                </p>
                            </div>
                        </div>

                        <!-- 下排點擊 -->
                        <div class="dot">
                            <img class="c1-show-img1" src="/img/c3-03.jpg">
                            <img class="c1-show-img2" src="/img/c3-04.jpg">
                            <img class="c1-show-img3" src="/img/c3-05.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(".c1-show-img1").click(function () {
        $(".slide2").css("visibility", "hidden");
        $(".slide3").css("visibility", "hidden");
        $(".slide1").css("visibility", "visible");
    });

    $(".c1-show-img2").click(function () {
        $(".slide1").css("visibility", "hidden");
        $(".slide3").css("visibility", "hidden");
        $(".slide2").css("visibility", "visible");
    });

    $(".c1-show-img3").click(function () {
        $(".slide1").css("visibility", "hidden");
        $(".slide2").css("visibility", "hidden");
        $(".slide3").css("visibility", "visible");
    });

</script>

<!-- hide bottom-->
<section id="temp">
</section>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>