<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: white;
    }

    img {
        max-width: 100%;
    }

    .btn {
        background: #C6A300;
        color: white;
        padding: 7px 26px;
        border-radius: 20px;
        font-size: 20px;
        margin-top: 10px;
    }
</style>

<section id="course2_menu">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/course1">高地威士忌探索之旅</a>
                </div>
                <div class="col-md-4">
                    <a href="/course2">源自於海洋的烈酒之王</a>
                </div>
                <div class="col-md-4">
                    <a href="/course3">雅痞威士忌深度巡禮</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course2_info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <img src="/img/c2-01.jpg">
                    </div>
                    <div class="col-md-8 text-left">
                        <p class="lead">源自於海洋的烈酒之王</p>
                        <p class="c2-intro">課程介紹:</p>
                        <p>透過深度垂直品飲，親身感受被英國文豪史蒂文生譽為「烈酒之王」的斯凱島傳奇酒款，同時以多種餐酒搭配突顯不同風味層次，讓品飲過程彷彿一場旋律豐富多變的海洋禮讚。</p>
                        <p class="c2-fee">報名費用：$500（可折抵現場單瓶消費）</p>
                        <a class="btn" href="#">立即報名</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course2_show">
    <div class="container">
        <div class="row c2-r1">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="c2-f1">
                            <i class="fas fa-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <h4>品酩酒款</h4>
                    </div>
                    <div class="col-md-9 text-left">
                        <div class="c2-showtext-1">
                            <p>Talisker 泰斯卡 10年</p>
                            <p>Talisker 泰斯卡 18年</p>
                            <p>Talisker 泰斯卡 25年</p>
                            <p>Talisker 泰斯卡 Storm</p>
                            <p>Talisker 泰斯卡 Port Ruighe</p>
                        </div>
                        <div class="c2-showtext-2">
                            <p>Talisker 泰斯卡 Storm</p>
                            <p>Talisker 泰斯卡 Port Ruighe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row c2-r2">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <h4>餐酒搭配</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/c2-02.jpg">
                    </div>
                    <div class="col-md-5 text-left">
                        <p class="c2-showtext-3">Talisker 泰斯卡 18年</p>
                        <p class="c2-showtext-4">酒食搭配：<br>
                            海潮之境- 高級生蠔</p>
                        <p class="c2-showtext-4">
                            當強烈而煙燻的 Talisker，<br>
                            遇上珍貴海鮮食材交織出的島嶼礦味，<br>
                            為酒食搭配，開啟了美好的經典對談。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row c2-r3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">
                        <img class="c2-show-img1" src="/img/1-taliske.jpg">
                        <img class="c2-show-img2" src="/img/2-taliske.jpg">
                        <img class="c2-show-img3" src="/img/3-taliske.jpg">
                        <img class="c2-show-img4" src="/img/4-taliske.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- hide bottom-->
<section id="temp">
</section>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>