<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

  <!-- carouse -->
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
        <img src="img/s1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="img/s2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="img/s3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- carouse -->

  <article>
    <div class="container"
      style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto;">
    </div>
  </article>
  <article>
    <div class="container"
      style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto ;">
    </div>
  </article>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>