<%- include('parts/html-head') %>
<%- include('parts/header') %>

<!-- carouse -->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
        <img src="img/s1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="img/s2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img src="img/s3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- carouse -->

  <article>
    <div class="container"
      style="height: 800px ; border: 3px black solid; word-break: break-all; margin: 10px auto 10px auto;">
    </div>
  </article>
  <article>
    <div class="container"
      style="height: 800px ; border: 3px black solid; word-break: break-all; margin: 10px auto 10px auto;">
    </div>
  </article>


  <footer style="position:fixed; bottom: 0px; width: 100%">
    <div class="float-xl-left" style="background-color: gray; width: 100%; text-align: center; font-size: 1em;"><i
        class="fas fa-phone-alt" style="margin: 15px;"> 客服專線: (02)12345678</i><i class="fas fa-envelope"
        style="margin: 15px;"> e-mail: abc@gmail.com</i></div>
    <div class="float-xl-left" style="background-color: black; width: 100%; text-align: center;">
      <img src="img/no drink.png" style="width: 100%; padding: 0% 10%;">
    </div>
  </footer>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>