<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<article>
  <div class="container"
    style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto;">
    <div class="card" style="width: 80% ; margin: 10% auto;">
      <div class="card-body">
        <h1>Red Wine</h1>
        <figure style="float: left;">
          <img src="/img/p1.jpg" alt="">
        </figure>
      </div>
    </div>
      
        <div class="card" style="width: 80% ; margin: 10% auto;;">
          <div class="card-body">
            <h1>Whisky</h1>
            <figure style="float: left;">
              <img src="/img/p2.jpg" alt="">
            </figure>
          </div>
        </div>
          
            <div class="card" style="width: 80% ; margin: 10% auto;;">
              <div class="card-body">
                <h1>Beer</h1>
                <figure style="float: left;">
                  <img src="/img/p3.jpg" alt="">
                </figure>
              </div>
            </div>
          </div>
</article>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>