<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

  <article>
    <div class="container"
      style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto;">
    </div>
  </article>
  <article>
    <div class="container"
      style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto ;">
    </div>
  </article>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>