<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<article>
  <div class="container"
  
    style="  word-break: break-all; margin: 30px auto 10px auto;" >

    <div class="card" style="width: 80% ; margin:3% auto 15% auto;">
      <div class="card-body">
        <h5 class="card-title">註冊</h5>
        <form method="post" name="form1" onsubmit="return checkForm()">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" >
          </div>
          

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>

          <div class="form-group">
            <label for="birthday">生日</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
          </div>

          <div class="form-group">
            <label for="phone">電話</label>
            <input type="text" class="form-control" id="phone" name="phone">
          </div>

          <button type="submit" class="btn btn-primary">註冊</button>
        </form>
        <div id="infobar" class="alert alert-success" role="alert" style="display: none"></div>

      </div>
    </div>
  </div>
</article>

<%- include('parts/scripts') %>
<script>
  function checkForm() {
      // Ajax
      $.post('/register', $(document.form1).serialize(), function (data) {
          console.log(data);

          if (data.success) {
              $('#infobar').text('已送出 待審核');
              $('#infobar').removeClass('alert-danger').addClass('alert-success');
              setTimeout(function () {
                  location.href = '/';
              }, 3000)
          } else {
              $('#infobar').text(data.error || '註冊失敗');
              $('#infobar').removeClass('alert-success').addClass('alert-danger');
              setTimeout(function () {
                  $('#infobar').slideUp();
              }, 3000)
          }
          $('#infobar').slideDown();
      }, 'json');
      return false; // 阻斷轉跳
  }
</script>
<%- include('parts/html-foot') %>