<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<article>
  <div class="container"
    style="height: 800px ; border: 3px grey solid; word-break: break-all; margin: 10px auto 10px auto;">
    <div class="card" style="width: 80% ; margin: 10% auto;">
      <div class="card-body">
        <h1>餐廳1</h1>
        <figure style="float: left;">
          <img src="/img/r1.jpg" alt="">
        </figure>
      </div>
    </div>

    <div class="card" style="width: 80% ; margin: 10% auto;;">
      <div class="card-body">
        <h1>餐廳2</h1>
        <figure style="float: left;">
          <img src="/img/r2.jpg" alt="">
        </figure>
      </div>
    </div>

    <div class="card" style="width: 80% ; margin: 10% auto;;">
      <div class="card-body">
        <h1>餐廳3</h1>
        <figure style="float: left;">
          <img src="/img/r3.jpg" alt="">
        </figure>
      </div>
    </div>
  </div>
</article>


<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>