<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<article>

    <div class="container" style="height: 800px ; word-break: break-all; margin: 10px auto 10px auto;">
        <div class="card" style="width: 80% ; margin: 5% auto;">
            <div class="card-body">
                <h2>商品</h2>
            </div>
        </div>

        <div class="card" style="width: 80% ; margin: 5%  auto;">
        <div class="card" style="width: 80% ; margin: 5% auto;">
            <div class="card-body">
                <h2>商品</h2>

            </div>
        </div>

        <div class="card" style="width: 80% ; margin: 5%  auto;">
            <div class="card-body">
                <h2>課程</h2>

            </div>
        </div>

        <div class="card" style="width: 80% ; margin: 5%  auto;">
            <div class="card-body">
                <h2>包場</h2>

            </div>
        </div>
    </div>

    
    




    <%- include('parts/scripts') %>
    <%- include('parts/html-foot') %>