
<footer style="position:fixed; bottom: 0px; width: 100%">
    <div class="float-xl-left" style="background-color: gray; width: 100%; text-align: center; font-size: 1em;"><i
        class="fas fa-phone-alt" style="margin: 10px;"> 客服專線: (02)6631-6666</i><i class="fas fa-envelope"
        style="margin: 0px;"> e-mail: abc@gmail.com</i></div>
    <div class="float-xl-left" style="background-color: black; width: 100%; text-align: center;">
      <img src="/img/no drink.png" style="width: 100%; padding: 0% 10%;">
    </div>
  </footer>
</div>
</body>
</html>