<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- 這裡已變成路由 -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <!-- 這裡已變成路由 -->
    <title>期中專題</title>
    <style>
        .class-main{
            background-color:#ECFFFF;
            width: fit-content;
            height: fit-content;
            margin: auto;
        }
        .course-menu {
            list-style-type: none;
            border: 3px solid plum;
        }

        /* .course-box {
        } */

        .course-text {
            font-size: 30px;
            color: #238b99;
            margin: 10px;
            border: 3px solid #AE8F00;
            /* padding: 10px; */
            width: 450px;
            /* float: left; */
        }
    </style>
</head>

<body>